body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dd,
dl,
form,
input,
textarea,
article,
section,
img,
li{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: .2rem;
    font-family: '微软雅黑', "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", SimHei, simsun, sans-serif;
}
li{list-style: none}
a{text-decoration: none}
.fr{
    float: right;
}
.fl{
    float:left;
}
img{
    border: none;
    height:auto;
}
body{
    padding-top:1rem;
    overflow-x: hidden;
}
.clear{zoom:1;}
.clear:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
/*三角箭头样式*/
.u-arrow {
    display: inline-block;
    width: .2rem;
    height: .2rem;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
.u-arrow-up {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.u-arrow-down {
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}
.u-arrow-left {
    transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
}
.u-arrow-right {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
/*页头*/
header{
    position: fixed;
    width:100%;
    height:1rem;
    top:0;
    left:0;
    background: #393c41;
    display: flex;
    align-items:center;
    z-index:9999;
}
.m-logo{
    width:1.35rem;
    margin-left:.3rem;
}
.m-user-icon{
    width:.35rem;
    margin-left:4rem;
}
.m-line-icon{
    width:.48rem;
    margin-left:.7rem;
}
.m-nav-xx{
    width:.4rem;
    display: none;
    margin-left:.7rem;
}
.common-title{
    width:100%;
    height:4rem;
    background: url("../images/m-title-bg.jpg") no-repeat center center;
    background-size:cover;
}
.common-title>h4{
    text-align: center;
    font-size: .3rem;
    color: #fff;
    font-weight: bold;
    padding-top:1.6rem;
}
.common-title>p{
    font-size: .24rem;
    color: #fff;
    width:3.4rem;
    margin: 0 auto;
    margin-top:.1rem;
    line-height: .4rem;
    text-align: center;
}


/*页脚*/
footer{
    width:100%;
    background: #2c3134;
}
.footer-center{
    width:7.1rem;
    margin: 0 auto;
}
.footer-contact{
    width:100%;
    height:1.56rem;
    text-align: center;
}
.footer-contact>h4{
    color: #fff;
    font-size: .3rem;
    padding-top:.3rem;
    margin-bottom:.18rem;
}
.footer-contact>a{
    padding: .05rem .2rem;
    min-width:2rem;
    height:.4rem;
    background: #3fb2e7;
    line-height: .4rem;
    color: #f1fbff;
    border-radius: 3px;
    font-size: .2rem;
}
.footer-contact>a>img{
    width:.2rem;
    position: relative;
    left:-.06rem;
}
.footer-hot-product{
    width:100%;
    background: #383d41;
}
.footer-hot-product-center{
    width:7.1rem;
    margin: 0 auto;
    border-bottom:1px solid #6e6f6f;
    position: relative;
    padding-bottom:.46rem;
}
.footer-hot-product-center:nth-last-child(1){
    border-bottom:0;
}
.footer-hot-product-center>h4{
    font-size: .32rem;
    color: #e1e1e1;
    padding-top:.4rem;
    margin-bottom:.2rem;
}
.footer-hot-product-center>h4>span{
    color: #ff2400;
    margin-left:.26rem;
}
.footer-hot-product-center>a{
    float: left;
    font-size: .32rem;
    color: #797979;
    margin-right:.5rem;
}
.footer-hot-product-center>p{
    font-size: .32rem;
    color: #797979;
    line-height: .55rem;
    width:3.86rem;
}
.footer-hot-product-center>div{
    position: absolute;
    width:1.26rem;
    top:.5rem;
    right:.38rem;
}
.footer-hot-product-center>div>h5{
    font-size: .32rem;
    color: #e1e1e1;
}
.footer-hot-product-center>div>img{
    width:100%;
    margin-top:.26rem;
}

.footer-copyright{
    width:100%;
    background: #4b5054;
    height:1.4rem;
}
.footer-copyright>p{
    width:6rem;
    margin: 0 auto;
    font-size: .24rem;
    color: #a9a9a9;
    padding-top:.3rem;
    line-height: .4rem;
    text-align: center;
}
.footer-copyright>p>a{
    color: #a9a9a9;
}

/*导航*/
nav{
    position: fixed;
    width:5.6rem;
    top:1rem;
    right:-5.6rem;
    z-index:99999;
}
nav>ul{
    width:100%;
}
nav>ul{
    width:100%;
}
nav>ul>li{
    width:100%;
}
nav>ul>li>h4{
    width:100%;
    height:.94rem;
    background: #2e2e2e;
    color: #fff;
    font-size: .32rem;
    line-height: .94rem;
    text-indent: .6rem;
    position: relative;
}
nav>ul>li>h4>a{
    color: #fff;
    display: block;
}
nav>ul>li>h4:before{
    content: "";
    position: absolute;
    display: block;
    width:5.2rem;
    height:1px;
    background: #3b3b3b;
    bottom:0;
    left:.2rem;
}
nav>ul>li>.active:before{
    display: none;
}
nav>ul>li:nth-last-child(1)>h4:before{
    display: none;
}
nav>ul>li>h4 i{
    position: absolute;
    top:.26rem;
    right:.44rem;
}
nav>ul>li>h4 i:nth-last-child(1){
    top:.36rem;
    display: none;
}
nav>ul>li>div{
    width:100%;
    background: #3b3b3b;
    display: none;
    padding-bottom:.36rem;
}
nav>ul>li>div{zoom:1;}
nav>ul>li>div:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
nav>ul>li>div>a{
    font-size: .24rem;
    color: #999;
    display: block;
    float: left;
    width:1.85rem;
    padding-top:.36rem;
    margin-left:1rem;
}
nav>ul>li>div>a:nth-child(2n){
    margin-left:.5rem;
}
nav>ul>li>div>a>span{
    color: #ff2400;
    margin-left:.12rem;
}

.app-title{
    width:100%;
    text-align: center;
    height:1.9rem;
    position: relative;
}
.app-title>p{
    font-size: .32rem;
    color: #333;
    line-height: 1.9rem;
    letter-spacing: 1px;
}